<section class="before-start">
    <h1 class="before-start__title">Antes de empezar...</h1>

    <div class="flex">
        <div>
            <i class="fa-solid fa-volume-high"></i>
            <p>Asegúrate de tener el <strong>volumen activado</strong></p>
        </div>

        <div>
            <i class="fa-solid fa-stopwatch"></i>
            <p>Los bits pasan automáticamente <strong>cada 2 segundos.</strong></p>
        </div>

        <div>
            <i class="fa-solid fa-pause"></i>
            <p>Puedes detener el pase con la <strong>barra espaciadora</strong> o haciendo <strong>clic en la pantalla.</strong></p>
        </div>
    </div>

    <button class="btn btn-active-primary" routerLink="/home"><i class="fa-solid fa-play"></i> Empezar pase</button>
</section>
